numpy==1.26.3
packaging==23.2
pillow==10.2.0
protobuf==4.25.2
Pygments==2.17.2
pytz==2023.3.post1
rpds-py==0.17.1
six==1.16.0
smmap==5.0.1
tenacity==8.2.3
toml==0.10.2
toolz==0.12.1
tornado==6.4
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.1.0
validators==0.22.0
watchdog==3.0.0
zipp==3.17.0
streamlit_option_menu
streamlit_tags
streamlit_drawable_canvas
matplotlib
bs4
uuid
pathlib
webbrowser
hashlib
collections
